{% extends 'layout.html.twig' %}
{% block content %}
<h1>Books</h1>
<div style="margin: 10px">
    {% for button in pagination.buttons %}
        {% if button.isActive %}
            <a href='{{ path('books_list', button) }}'>
                <button class="btn btn-success">{{ button.text }}</button>
            </a>
        {% else %}
            <a href='{{ path('books_list', button) }}'>
                <button class="btn btn-info">{{ button.text }}</button>
            </a>
        {% endif %}
    {% endfor %}
</div>
<div class="row" align="left">
    {% for book in books %}
        <div class="col-md-4">
            <div class="card">
                <!--            <img class="card-img-top" src="..." alt="Card image cap">-->
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.price }}</p>
                    <a href="{{ path('add-to-cart', book) }}"
                       class="btn btn-primary">Add to cart</a>
                    <a href="{{ path('book_item', book) }}"
                       class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}